# code: language=yaml

{{ if $observedResources }}

---

apiVersion: aws.hops.ops.com.ai/v1alpha1
kind: Account
status:
  ready: {{ if $accountReady }}true{{ else }}false{{ end }}
  accountId: "{{ $accountId }}"
  adminRoleArn: "{{ $adminRoleArn }}"
  providerConfigName: "{{ $accountProviderConfigName }}"
  iamUserName: "{{ $iamUserName }}"
  credentialsSecretName: "{{ $credentialsSecretName }}"

{{ end }}
